<div class="relative h-screen w-screen bg-gray-50">
  <!-- SVGs de fondo -->
  <div class="absolute h-full w-full">
    <img
      class="absolute left-0 bottom-0 w-80"
      src="/assets/svg/team.svg"
      alt="Bg left"
    />
    <img
      class="absolute right-0 bottom-0 w-56"
      src="/assets/svg/img-right.svg"
      alt="Bg rigth"
    />
  </div>

  <!-- Card login -->
  <div class="relative m-auto w-4/12 ">
    <header class="flex justify-center pt-6 pb-2">
      <img
        class="w-56"
        src="/assets/images/logo/logo-gradient-blue-trello.png"
        alt="Logo"
      />
    </header>
    <div class="rounded bg-pink-100 shadow py-4 px-6">
      <div class="mb-4">
        <h1 class="pt-4 pb-8 text-center font-semibold">Log In to Trello</h1>
        <form novalidate class="space-y-4">
          <div class="relative">
            <input
              placeholder="Enter email"
              type="text"
              class="w-full rounded bg-white border-2 border-gray-300"
            />
          </div>
          <div class="relative">
            <input
              placeholder="Enter password"
              type="password"
              class="w-full rounded bg-white border-2 border-gray-300"
              name=""
              id=""
            />
          </div>
          <div>
            <button
              class="text-white w-full px-5 py-2 font-medium rounded text-sm bg-pink-300"
              type="submit"
            >
              Log In
            </button>
          </div>
          <hr>
          <footer class="flex justify-center">
            <a href="/" class="text-blue-300">Can't log in?</a> • <a href="/" class="text-blue-300">Sign up for an account</a>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>
